{% load comments %}
<a href="{% url index %}">HOME</a>
<br>
{{ title }}
<br>
{{ lead }}
<br>
{{ city }}
<br>
{{ video_url }}<br>
<iframe width="560" height="345" src="{{ video_url }}?rel=0" frameborder="0" allowfullscreen></iframe>
<br>
{% for tag in tags %}

<a class="article__tag" href="/tag/{{tag}}/">{{ tag }}</a>, 
{% endfor %}
<br>
{{ nickname }}
<br>
{{ pud_date }}
<br>
{{ category }}
<br>
{{ votes }}
<br>
<img src="{{ thumbnail }}" width="200" heght=200>
<br>
{% render_comment_form for id %}
{% if display_form %}
	<form action="/comments/postfree/" method="post">
		<p>Your name: <input type="text" id="id_person_name" name="person_name" /></p>
		<p>Comment:<br /><textarea name="comment" id="id_comment" rows="10" cols="60"></textarea></p>
		<input type="hidden" name="options" value="{{ options }}" />
		<input type="hidden" name="target" value="{{ target }}" />
		<input type="hidden" name="gonzo" value="{{ hash }}" />
		<p><input type="submit" name="preview" value="Preview comment" /></p>
	</form>
{% endif %}
