<a href="{% url index %}">HOME</a>
{% if articles %}
    {% for article in articles %}
    <br>
<!--
    {{ article.lead }} <br>
    {{ article.pud_date }} <br>
    {{ article.category }} <br>
    {{ article.vodeo_url }} <br>
    {{ article.city }} <br> -->
    <a href="/article/{{ article.id }}/">{{ article.title }}</a>
    <br>
    <img src="{{ article.photo.url_125x125 }}">
    <br>
    <img src="{{ article.photo.url_200x200 }}">
    {% endfor %}
{% else %}
    <p>No polls are available.</p>
{% endif %}
